# dependencies
/node_modules
/.astro

# production
/dist

# misc
.DS_Store
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Astro preview cache
/.vercel
.netlify

# IDE
.vscode
.idea
