---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="grid grid-cols-2 grid-rows-10 h-screen w-screen">
		<div class="bg-red-500 col-span-2 row-span-1"></div>
		<div class="bg-yellow-500 col-span-1 row-span-8"></div>
		<div class="bg-blue-500 col-span-1 row-span-8"></div>
		<div class="bg-violet-500 col-span-2 row-span-1"></div>
	</div>
</Layout>
