---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
			rel="stylesheet"
		/>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<title><slot name="title" /></title>
	</head>
	<body>
		<slot />
	</body>
</html>
